In [1]:
import numpy as np
import pandas as pd
import os
import glob as glob

In [2]:
filepath = '/Users/frankanayet/Google Drive/NLineData/Beh_Data/Nline-Space/Space'
os.chdir(filepath)

In [3]:
tmp_db = pd.read_csv('03001.csv')

In [4]:
colnames = tmp_db.columns

In [5]:
colnames

Index([u'ramp_up', u'stim_t', u'runs', u'nLocArm', u'nLoc', u'ntasks',
       u'percentnull', u'tasks', u'flickerFreq', u'flickerPer',
       ...
       u'ITI_StartReal4', u'endRun1', u'endRun2', u'endRun3', u'endRun4',
       u'durRun1', u'durRun2', u'durRun3', u'durRun4', u'endExp'],
      dtype='object', length=695)

In [6]:
filenames = glob.glob('IEM_*.csv')
print filenames

['IEM_03001.csv', 'IEM_03003.csv', 'IEM_03004.csv', 'IEM_03005.csv', 'IEM_03006.csv', 'IEM_03007.csv', 'IEM_03008.csv']

In [7]:
db = pd.DataFrame()
for name in filenames:
    id1 = filenames[0].find('_') + 1
    id2 = filenames[0].find('.')
    sub_nbr = name[id1:id2]
    s_id = 's_'+sub_nbr
    frame = pd.read_csv(name, header=0, index_col=False,names=colnames)
    frame['Subject'] = s_id
    frame['Trial'] = np.arange(36)
    db = pd.concat([db, frame], ignore_index=True)

In [8]:
db.head(40)

,ramp_up,stim_t,runs,nLocArm,nLoc,ntasks,percentnull,tasks,flickerFreq,flickerPer,...,endRun2,endRun3,endRun4,durRun1,durRun2,durRun3,durRun4,endExp,Subject,Trial
0,16,4,4,3,13,1,0.4,attend stim,6,0.16667,...,2947.0942,3279.8082,3617.7555,268.0087,268.0133,268.0164,268.0028,13-Oct-2015 10:55:02,s_03001,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,2
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,3
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,4
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,5
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,6
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,7
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,8
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,9
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,10
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,11
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,12
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,13
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,14
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,15
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,16
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,17
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,18
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,19
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,20
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,21
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,22
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,23
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,24
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,25
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,26
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,27
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,28
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,29
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,30
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,31
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,32
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,33
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,34
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03001,35
36,16,4,4,3,13,1,0.4,attend stim,6,0.16667,...,8834.5564,9198.1219,9533.3194,268.0235,268.0120,268.0184,268.0228,26-Oct-2015 16:07:47,s_03003,0
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03003,1
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03003,2
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s_03003,3

In [9]:
db.groupby('Subject')[['hit1','falseAlarm1','correctRejection1','miss1']].mean()

             hit1  falseAlarm1  correctRejection1     miss1
Subject
s_03001  0.423077     0.115385           0.346154  0.115385
s_03003  0.500000     0.038462           0.423077  0.038462
s_03004  0.423077     0.000000           0.461538  0.115385
s_03005  0.423077     0.038462           0.423077  0.115385
s_03006  0.461538     0.000000           0.461538  0.076923
s_03007  0.500000     0.000000           0.461538  0.038462
s_03008  0.538462     0.461538           0.000000  0.000000

In [10]:
db.drop(['Condition1','Condition2','Condition3','Condition4'], axis=1,inplace=True)

In [11]:
db.rename(columns={'Conditon1':'Condition1','Conditon2':'Condition2','Conditon3':'Condition3','Conditon4':'Condition4'},
          inplace=True)

Setup some variables

In [12]:
stim_dur = db.stim_t.loc[0]
ramp_up = db.ramp_up.loc[0]
trials_run = int(db.nTrials.loc[0])

In [13]:
db.groupby('Subject')['nTrials'].max()

Subject
s_03001    36
s_03003    36
s_03004    36
s_03005    36
s_03006    36
s_03007    36
s_03008    36
Name: nTrials, dtype: float64

In [14]:
db[db['Subject']=='s_03001']['nTrials'].loc[0]

36.0

'null' 1-4 indexes null trials that have to separate for onset creation

In [15]:
db.groupby('Subject')[['null1','null2','null3','null4']].sum()

         null1  null2  null3  null4
Subject
s_03001     10     10     10     10
s_03003     10     10     10     10
s_03004     10     10     10     10
s_03005     10     10     10     10
s_03006     10     10     10     10
s_03007     10     10     10     10
s_03008     10     10     10     10

In [16]:
import string

In [17]:
runs = ['1','2','3','4']
subs = db.Subject.unique()

In [18]:
db[(db['Subject']=='s_03001') & (db['null1'] == 1)]['stim_StartReal1']

5      55.0010
8      74.5019
10     87.0012
12     98.5009
17    135.0010
19    149.0012
22    168.5008
24    183.5014
32    239.5011
35    264.0019
Name: stim_StartReal1, dtype: float64

In [19]:
db[(db['Subject']=='s_03001') & (db['null1'] == 0)]['stim_StartReal1'] -16

0       4.0031
1      10.5015
2      16.5013
3      23.0010
4      31.0018
6      44.5008
7      50.5010
9      64.5013
11     76.5011
13     91.0016
14     96.5021
15    105.0009
16    110.5010
18    127.0009
20    138.5020
21    145.0009
23    160.0008
25    173.5016
26    182.0021
27    188.5011
28    195.0010
29    202.5012
30    210.5010
31    216.0013
33    231.0013
34    239.5015
Name: stim_StartReal1, dtype: float64

In [20]:
values = db.Condition1.unique()
values.sort()
#values = values[~np.isnan(values)]
values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [21]:
values = values[:13]
values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [22]:
db[(db['Subject']=='s_03003') & (db['Condition1'] == 12)][['stimLocsY1','Trial']]

    stimLocsY1  Trial
37      3.4239      1
65      3.1745     29

In [36]:
runs = ['1','2','3','4']
nullstr = 'null'
condstr = 'Condition'
trialstr = 'Trial'
for s in subs:
    print s
    for r in runs:
        if s == 's_03003' and r == '3':
            continue
        print r
        nbr_null = 0
        nulltmp = nullstr+r
        condtmp = condstr+r
        trialtmp = trialstr + r
        db.loc[db['Subject'] == s, trialtmp] = np.nan
        for i in range(0,trials_run):
            if db[(db['Subject']==s) & (db['Trial'] == i)][nulltmp].item() == 1:
                nbr_null = nbr_null + 1
            else:
                tmp_trl = db[(db['Subject']==s) & (db['Trial'] == i)]['Trial'].values[0] - nbr_null
                #print tmp_trl
                db.loc[(db['Subject']==s) & (db['Trial'] == i),trialtmp] = tmp_trl
            #print db.loc[(db['Subject']==s) & (db['Trial'] == i),trialtmp]

s_03001
1
2
3
4
s_03003
1
2
4
s_03004
1
2
3
4
s_03005
1
2
3
4
s_03006
1
2
3
4
s_03007
1
2
3
4
s_03008
1
2
3
4

In [41]:
db.loc[db['Subject']=='s_03001','Trial3'].head(36)

0      0
1      1
2      2
3      3
4      4
5      5
6    NaN
7    NaN
8      6
9    NaN
10   NaN
11   NaN
12     7
13     8
14     9
15    10
16    11
17    12
18    13
19   NaN
20    14
21    15
22    16
23    17
24    18
25    19
26   NaN
27    20
28   NaN
29    21
30   NaN
31    22
32    23
33    24
34   NaN
35    25
Name: Trial3, dtype: float64

In [42]:
db[db['Subject'] == 's_03001'][['Condition1','Trial','Trial1']].head(36)

    Condition1  Trial  Trial1
0            3      0       0
1           11      1       1
2            5      2       2
3            6      3       3
4            2      4       4
5           14      5     NaN
6            7      6       5
7            8      7       6
8           14      8     NaN
9            1      9       7
10          14     10     NaN
11          13     11       8
12          14     12     NaN
13           9     13       9
14           4     14      10
15          12     15      11
16          10     16      12
17          14     17     NaN
18          10     18      13
19          14     19     NaN
20           5     20      14
21           9     21      15
22          14     22     NaN
23           3     23      16
24          14     24     NaN
25           8     25      17
26           6     26      18
27          12     27      19
28           1     28      20
29          13     29      21
30           2     30      22
31           4     31      23
32          14     32     NaN
33          11     33      24
34           7     34      25
35          14     35     NaN

In [55]:
nullstr = 'null'
condstr = 'Condition'
Xstr = 'stimLocsX'
Ystr = 'stimLocsY'
big_index_dict = {}
for s in subs:
    big_index_dict[s] = {}
    for val in values:
        big_index_dict[s][str(val)] = []
        for r in runs:
            run = 'run'+r
            nulltmp = nullstr+r
            condtmp = condstr+r
            trialtmp = trialstr + r
            Xtemp = Xstr+r
            Ytemp = Ystr+r
            tmp = db[(db['Subject']==s) & (db[condtmp] == val)][[Xtemp, Ytemp, trialtmp]]
            #tmp_trial = tmp.index.tolist()
            tmp_trial = tmp[trialtmp].values.astype(int)
            big_index_dict[s][str(val)].append(tmp_trial)

Trial includes null trials whereas trial(run_nbr) only includes the actual trials

In [56]:
db[(db['Subject']=='s_03001') & (db['Condition1'] == 1)][['stimLocsX1', 'stimLocsY1', 'Trial1']]

    stimLocsX1  stimLocsY1  Trial1
9      -3.4609           0       7
28     -2.9042           0      20

In [57]:
db[(db['Subject']=='s_03001') & (db['Condition1'] == 1)]['Trial'].values

array([ 9, 28])

In [58]:
big_index_dict['s_03001']['1']

[array([ 7, 20]), array([ 5, 23]), array([ 0, 16]), array([ 8, 17])]

In [59]:
for s in big_index_dict:
    for val in big_index_dict[s].keys():
        big_index_dict[s][val] = [item for sublist in big_index_dict[s][val] for item in sublist]

In [60]:
big_index_dict['s_03008']

{'1': [2, 16, 4, 15, 10, 18, 7, 13],
 '10': [5, 15, 2, 13, 1, 13, 8, 18],
 '11': [0, 13, 5, 20, 5, 23, 10, 17],
 '12': [11, 17, 8, 17, 9, 19, 5, 16],
 '13': [1, 23, 1, 22, 11, 21, 11, 21],
 '2': [7, 24, 11, 16, 3, 24, 0, 25],
 '3': [6, 22, 9, 23, 0, 17, 3, 23],
 '4': [10, 21, 12, 25, 6, 15, 9, 20],
 '5': [4, 19, 10, 19, 4, 25, 4, 14],
 '6': [12, 20, 7, 14, 8, 22, 1, 24],
 '7': [3, 18, 6, 21, 7, 16, 6, 22],
 '8': [9, 14, 3, 24, 2, 20, 2, 15],
 '9': [8, 25, 0, 18, 12, 14, 12, 19]}

In [61]:
values_str = [str(x) for x in values]
values_str

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13']

In [62]:
runs = ['run1','run2','run3','run4']
for s in big_index_dict.keys():
    print s
    for r in range(0,len(big_index_dict[s]['1'])/2):
        print r
        tmp_list = []
        for val in values_str:
            tmp_list.append(big_index_dict[s][val][r*2])
            tmp_list.append(big_index_dict[s][val][(r*2)+1])
        big_index_dict[s][runs[r]] = tmp_list

s_03001
0
1
2
3
s_03003
0
1
2
3
s_03004
0
1
2
3
s_03005
0
1
2
3
s_03006
0
1
2
3
s_03007
0
1
2
3
s_03008
0
1
2
3

In [63]:
big_index_dict['s_03001']

{'1': [7, 20, 5, 23, 0, 16, 8, 17],
 '10': [12, 13, 9, 15, 2, 20, 11, 20],
 '11': [1, 24, 8, 14, 10, 18, 4, 15],
 '12': [11, 19, 3, 24, 3, 24, 2, 21],
 '13': [8, 21, 12, 20, 6, 17, 5, 18],
 '2': [4, 22, 0, 22, 4, 13, 3, 24],
 '3': [0, 16, 2, 16, 9, 25, 12, 14],
 '4': [10, 23, 7, 21, 8, 14, 9, 22],
 '5': [2, 14, 4, 17, 11, 15, 7, 25],
 '6': [3, 18, 1, 19, 7, 23, 0, 13],
 '7': [5, 25, 6, 25, 5, 21, 6, 19],
 '8': [6, 17, 10, 18, 1, 19, 10, 23],
 '9': [9, 15, 11, 13, 12, 22, 1, 16],
 'run1': [7,
  20,
  4,
  22,
  0,
  16,
  10,
  23,
  2,
  14,
  3,
  18,
  5,
  25,
  6,
  17,
  9,
  15,
  12,
  13,
  1,
  24,
  11,
  19,
  8,
  21],
 'run2': [5,
  23,
  0,
  22,
  2,
  16,
  7,
  21,
  4,
  17,
  1,
  19,
  6,
  25,
  10,
  18,
  11,
  13,
  9,
  15,
  8,
  14,
  3,
  24,
  12,
  20],
 'run3': [0,
  16,
  4,
  13,
  9,
  25,
  8,
  14,
  11,
  15,
  7,
  23,
  5,
  21,
  1,
  19,
  12,
  22,
  2,
  20,
  10,
  18,
  3,
  24,
  6,
  17],
 'run4': [8,
  17,
  3,
  24,
  12,
  14,
  9,
  22,
  7,
  25,
  0,
  13,
  6,
  19,
  10,
  23,
  1,
  16,
  11,
  20,
  4,
  15,
  2,
  21,
  5,
  18]}

## Load brain data, sort and save sorted 4d nifti file

In [64]:
import nibabel

In [74]:
def sort_run(s,r):
    tmp_img = nibabel.load(dict_files[s][r][0])
    tmp_data = tmp_img.get_data()
    myorder = big_index_dict[s][r]
    img_shape = tmp_img.shape
    print 'img_shape', img_shape
    cor_img_shape = [img_shape[0],img_shape[1],img_shape[2],len(myorder)]
    print 'cor_img_shape', cor_img_shape
    zero_img = np.zeros(cor_img_shape)
    for x in range(0,len(myorder)):
        print x
        print myorder(x)
        zero_img[:,:,:,x] = tmp_data[:,:,:,myorder[x]]
    nii = nibabel.Nifti1Image(zero_img,header=tmp_img.get_header(),affine=tmp_img.get_affine())
    out_path = s+'/S_'+r+'_AllOnsets.feat/betaseries/'
    out_name = s+'_S_'+r+'_sorted.nii.gz'
    out_pathname = out_path + out_name
    nibabel.save(nii,out_pathname)

In [66]:
neuro_filepath = '/fMRI/NLine-Space/'
os.chdir(neuro_filepath)

In [67]:
pwd

u'/fMRI/NLine-Space'

In [68]:
dat_files = glob.glob('s_030??/S_run?_AllOnsets.feat/betaseries/ev1*.nii.gz')
dat_files

['s_03001/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03001/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03001/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03001/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03003/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03003/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03003/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03004/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03004/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03004/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03004/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03005/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03005/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03005/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03005/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03006/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03006/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03006/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03006/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03007/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03007/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03007/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03007/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03008/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03008/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03008/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz',
 's_03008/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']

In [69]:
dict_files = {}
for i in dat_files:
    id1 = 0
    id2 = dat_files[0].find('/')
    id3 = id2+3
    sub_nbr = i[id1:id2]
    run_nbr = i[id3:id3+4]
    dict_files[sub_nbr] = {}

In [70]:
for i in dat_files:
    id1 = 0
    id2 = dat_files[0].find('/')
    id3 = id2+3
    sub_nbr = i[id1:id2]
    run_nbr = i[id3:id3+4]
    dict_files[sub_nbr][run_nbr] = [i]

In [71]:
dict_files

{'s_03001': {'run1': ['s_03001/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03001/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03001/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run4': ['s_03001/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']},
 's_03003': {'run1': ['s_03003/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03003/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03003/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']},
 's_03004': {'run1': ['s_03004/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03004/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03004/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run4': ['s_03004/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']},
 's_03005': {'run1': ['s_03005/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03005/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03005/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run4': ['s_03005/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']},
 's_03006': {'run1': ['s_03006/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03006/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03006/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run4': ['s_03006/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']},
 's_03007': {'run1': ['s_03007/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03007/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03007/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run4': ['s_03007/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']},
 's_03008': {'run1': ['s_03008/S_run1_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run2': ['s_03008/S_run2_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run3': ['s_03008/S_run3_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz'],
  'run4': ['s_03008/S_run4_AllOnsets.feat/betaseries/ev1_LSS_.nii.gz']}}

## Test that function works

In [75]:
sort_run('s_03001','run1')

img_shape (110, 110, 62, 26)
cor_img_shape [110, 110, 62, 26]
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)
(110, 110, 62, 26)

## Save Files

In [ ]:
runs = ['run1','run2','run3','run4']
for s in big_index_dict.keys():
    print s
    for r in range(0,len(big_index_dict[s]['1'])/2):
        print runs[r]
        sort_run(s,runs[r])