In [1]:
import pandas as pd
import numpy as np
from scipy import io
import os
import glob

In [2]:
## Desktop
#filepath = '/Users/frankanayet/Dropbox/NLineExperiment/Data'
filepath = '/Users/frankanayet/Google Drive/NLineData/Beh_Data'
os.chdir(filepath)

In [3]:
new_df = pd.read_csv('nline_data.csv',sep='\t')

In [4]:
new_df.head(20)

,Subject,Run,Trial,BadPress,Block,Click,Correct,Error,ITI_onset,ITI_onset_real,...,consider_onset_real,decision_end,decision_end_real,decision_onset,decision_onset_real,hold,hold_onset,hold_onset_real,iti,mouse_pos
0,s_02009,Run_3,0,0,1,0,0.00,0.000000,14.0,14.002303,...,18.503454,25.5,25.514703,22.5,22.510652,3.5,19.0,19.002278,4.5,0.5
1,s_02009,Run_3,1,0,1,1,0.90,-0.056388,25.5,25.515212,...,30.501990,40.0,40.000561,37.0,37.011092,6.0,31.0,31.130458,5.0,0.5
2,s_02009,Run_3,2,0,1,1,0.45,-0.009471,40.0,40.000878,...,46.503180,56.5,56.500431,53.5,53.511434,6.5,47.0,47.003461,6.5,0.5
3,s_02009,Run_3,3,0,1,1,0.57,-0.017137,56.5,56.500739,...,62.502800,69.0,69.001414,66.0,66.011676,3.0,63.0,63.001775,6.0,0.5
4,s_02009,Run_3,4,0,1,0,0.00,0.000000,69.0,69.001767,...,74.501353,81.0,81.003690,78.0,78.012159,3.0,75.0,75.003246,5.5,0.5
5,s_02009,Run_3,5,0,1,1,0.07,-0.012731,81.0,81.004045,...,88.002146,95.5,95.501580,92.5,92.512390,4.0,88.5,88.502522,7.0,0.5
6,s_02009,Run_3,6,0,1,1,0.77,-0.032115,95.5,95.501923,...,99.001431,105.0,105.000875,102.0,102.012629,2.5,99.5,99.503342,3.5,0.5
7,s_02009,Run_3,7,0,1,1,0.03,0.000837,105.0,105.001223,...,108.001256,115.5,115.500713,112.5,112.512995,4.0,108.5,108.501139,3.0,0.5
8,s_02009,Run_3,8,0,1,1,0.21,0.019075,115.5,115.501008,...,120.003308,129.0,129.001920,126.0,126.013343,5.5,120.5,120.502970,4.5,0.5
9,s_02009,Run_3,9,0,1,1,0.65,-0.024449,129.0,129.002242,...,132.003220,138.5,138.500852,135.5,135.513645,3.0,132.5,132.502662,3.0,0.5
10,s_02009,Run_3,10,0,1,0,0.00,0.000000,138.5,138.501192,...,142.502370,149.5,149.502107,146.5,146.513946,3.5,143.0,143.002341,4.0,0.5
11,s_02009,Run_3,11,0,1,1,0.85,-0.052643,149.5,149.502539,...,153.002137,161.0,160.999962,158.0,158.130769,4.5,153.5,153.502347,3.5,0.5
12,s_02009,Run_3,12,0,1,1,0.11,0.039780,161.0,161.000209,...,164.503876,170.5,170.501534,167.5,167.514453,2.5,165.0,165.002848,3.5,0.5
13,s_02009,Run_3,13,0,1,1,0.60,0.032159,170.5,170.501833,...,174.501680,182.0,182.001411,179.0,179.014801,4.0,175.0,175.002658,4.0,0.5
14,s_02009,Run_3,14,0,1,0,0.00,0.000000,182.0,182.001746,...,186.001837,194.5,194.503338,191.5,191.515124,5.0,186.5,186.503451,4.0,0.5
15,s_02009,Run_3,15,0,1,1,0.98,0.020000,194.5,194.503771,...,199.002598,206.0,206.002381,203.0,203.015416,3.5,199.5,199.501635,4.5,0.5
16,s_02009,Run_3,16,0,2,0,0.00,0.000000,212.0,212.051016,...,217.501560,225.5,225.501584,222.5,222.515815,4.5,218.0,218.002978,5.5,0.5
17,s_02009,Run_3,17,0,2,1,0.07,-0.006123,225.5,225.501823,...,229.502519,236.5,236.502399,233.5,233.516144,3.5,230.0,230.003645,4.0,0.5
18,s_02009,Run_3,18,0,2,1,0.65,0.008590,236.5,236.502723,...,240.501867,248.0,248.002234,245.0,245.016372,4.0,241.0,241.003329,4.0,0.5
19,s_02009,Run_3,19,0,2,1,0.03,-0.025595,248.0,248.002565,...,251.502910,258.0,258.001340,255.0,255.016684,3.0,252.0,252.001380,3.5,0.5

In [5]:
new_df.loc[new_df['Subject']=='s_02003'].loc[new_df['Run']==
                                             'Run_1'].loc[new_df['Task']==3][['Line_pct', 'Trial']]

     Line_pct  Trial
288      0.21      0
289      0.98      1
290      0.74      2
291      0.28      3
292      0.33      4
293      0.11      5
294      0.85      6
295      0.45      7
296      0.57      8
297      0.77      9
298      0.65     10
299      0.60     11
300      0.90     12
301      0.36     13
302      0.07     14
303      0.03     15

In [6]:
new_df['Line_pct_minusOne'] = np.nan

In [7]:
new_df.Subject.unique()

array(['s_02009', 's_02003', 's_02007', 's_02006', 's_02005', 's_02004',
       's_02018', 's_02010', 's_02011', 's_02014', 's_02015', 's_02016',
       's_02024', 's_02027', 's_02021', 's_02020', 's_02023', 's_02022'], dtype=object)

In [8]:
for s in new_df.Subject.unique():
    for r in new_df.Run.unique():
        for t in new_df.Task.unique():
            tmp = new_df.loc[new_df['Subject']==
                             s].loc[new_df['Run']==r].loc[new_df['Task']==t][['Line_pct', 'Trial']]
            new_tmp = np.empty(len(tmp))
            new_tmp[0] = np.nan
            for i in range(1,len(tmp)):
                new_tmp[i] = tmp['Line_pct'].iloc[i-1]
            new_tmp = pd.Series(new_tmp)
            new_df.loc[(new_df['Subject']==s) & (new_df['Run']==r) & (new_df['Task'] == t),
                       'Line_pct_minusOne'] = new_tmp.values

In [9]:
new_tmp

0      NaN
1     0.28
2     0.07
3     0.11
4     0.21
5     0.90
6     0.45
7     0.60
8     0.65
9     0.85
10    0.57
11    0.74
12    0.03
13    0.36
14    0.33
15    0.98
dtype: float64

In [29]:
new_df['Dist50_minusOne'] = abs(new_df['Line_pct_minusOne'] - 0.5)

In [30]:
new_df[['Line_pct', 'Line_pct_minusOne', 'Dist50_minusOne']].head(40)

    Line_pct  Line_pct_minusOne  Dist50_minusOne
0       0.28                NaN              NaN
1       0.90               0.28             0.22
2       0.45               0.90             0.40
3       0.57               0.45             0.05
4       0.74               0.57             0.07
5       0.07               0.74             0.24
6       0.77               0.07             0.43
7       0.03               0.77             0.27
8       0.21               0.03             0.47
9       0.65               0.21             0.29
10      0.33               0.65             0.15
11      0.85               0.33             0.17
12      0.11               0.85             0.35
13      0.60               0.11             0.39
14      0.36               0.60             0.10
15      0.98               0.36             0.14
16      0.11                NaN              NaN
17      0.07               0.11             0.39
18      0.65               0.07             0.43
19      0.03               0.65             0.15
20      0.36               0.03             0.47
21      0.45               0.36             0.14
22      0.57               0.45             0.05
23      0.74               0.57             0.07
24      0.33               0.74             0.24
25      0.98               0.33             0.17
26      0.60               0.98             0.48
27      0.21               0.60             0.10
28      0.77               0.21             0.29
29      0.90               0.77             0.27
30      0.28               0.90             0.40
31      0.85               0.28             0.22
32      0.74                NaN              NaN
33      0.33               0.74             0.24
34      0.90               0.33             0.17
35      0.77               0.90             0.40
36      0.07               0.77             0.27
37      0.98               0.07             0.43
38      0.03               0.98             0.48
39      0.28               0.03             0.47

In [17]:
new_df['quartile'] = new_df['Line_pct']

In [18]:
new_df.loc[new_df['quartile'] < 0.25, 'quartile'] = 1

In [19]:
new_df.loc[(new_df['quartile'] > 0.25) & (new_df['quartile'] < 0.5) , 'quartile'] = 2

In [20]:
new_df.loc[(new_df['quartile'] > 0.5) & (new_df['quartile'] < 0.75) , 'quartile'] = 3

In [21]:
new_df.loc[(new_df['quartile'] > 0.75) & (new_df['quartile'] < 1) , 'quartile'] = 4

In [23]:
new_df['quartile'] = new_df['quartile'].astype('category')

In [27]:
new_df[['Task', 'quartile', 'Line_pct', 'Line_pct_minusOne']].groupby(['Task', 'quartile']).mean()

               Line_pct  Line_pct_minusOne
Task quartile
1    1            0.105           0.526903
     2            0.355           0.492701
     3            0.640           0.470226
     4            0.875           0.468535
2    1            0.105           0.510259
     2            0.355           0.499596
     3            0.640           0.470037
     4            0.875           0.492974
3    1            0.105           0.512601
     2            0.355           0.486496
     3            0.640           0.512113
     4            0.875           0.470597

In [39]:
new_df[['Task', 'quartile', 'Line_pct', 'Line_pct_minusOne', 'Dist50_minusOne']].groupby(['Task', 'quartile']).mean()

               Line_pct  Line_pct_minusOne  Dist50_minusOne
Task quartile
1    1            0.105           0.526903         0.272575
     2            0.355           0.492701         0.273212
     3            0.640           0.470226         0.272566
     4            0.875           0.468535         0.243626
2    1            0.105           0.510259         0.272630
     2            0.355           0.499596         0.262537
     3            0.640           0.470037         0.263792
     4            0.875           0.492974         0.254535
3    1            0.105           0.512601         0.253919
     2            0.355           0.486496         0.263577
     3            0.640           0.512113         0.276717
     4            0.875           0.470597         0.267388

In [28]:
new_df[['quartile', 'Line_pct', 'Line_pct_minusOne']].groupby(['quartile']).mean()

          Line_pct  Line_pct_minusOne
quartile
1            0.105           0.516547
2            0.355           0.492915
3            0.640           0.484055
4            0.875           0.477333

In [33]:
new_df[['quartile', 'Line_pct','Line_pct', 'Dist50_minusOne']].groupby(['quartile']).mean()

          Line_pct  Line_pct  Dist50_minusOne
quartile
1            0.105     0.105         0.266313
2            0.355     0.355         0.266451
3            0.640     0.640         0.270989
4            0.875     0.875         0.255111

In [26]:
new_df[['Subject', 'Run', 'Task', 'quartile', 'Line_pct', 'Line_pct_minusOne']].groupby(['Subject', 'Run', 'Task', 'quartile']).mean()

                             Line_pct  Line_pct_minusOne
Subject Run   Task quartile
s_02003 Run_0 1    1            0.105           0.650000
                   2            0.355           0.476667
                   3            0.640           0.280000
                   4            0.875           0.442500
              2    1            0.105           0.457500
                   2            0.355           0.462500
                   3            0.640           0.420000
                   4            0.875           0.495000
              3    1            0.105           0.685000
                   2            0.355           0.403333
                   3            0.640           0.472500
                   4            0.875           0.372500
        Run_1 1    1            0.105           0.390000
                   2            0.355           0.487500
                   3            0.640           0.416667
                   4            0.875           0.635000
              2    1            0.105           0.543333
                   2            0.355           0.637500
                   3            0.640           0.330000
                   4            0.875           0.547500
              3    1            0.105           0.253333
                   2            0.355           0.692500
                   3            0.640           0.712500
                   4            0.875           0.372500
        Run_2 1    1            0.105           0.496667
                   2            0.355           0.337500
                   3            0.640           0.625000
                   4            0.875           0.557500
              2    1            0.105           0.577500
                   2            0.355           0.597500
...                               ...                ...
s_02027 Run_1 2    3            0.640           0.525000
                   4            0.875           0.526667
              3    1            0.105           0.386667
                   2            0.355           0.470000
                   3            0.640           0.527500
                   4            0.875           0.617500
        Run_2 1    1            0.105           0.587500
                   2            0.355           0.307500
                   3            0.640           0.630000
                   4            0.875           0.530000
              2    1            0.105           0.690000
                   2            0.355           0.375000
                   3            0.640           0.465000
                   4            0.875           0.372500
              3    1            0.105           0.432500
                   2            0.355           0.590000
                   3            0.640           0.420000
                   4            0.875           0.495000
        Run_3 1    1            0.105           0.622500
                   2            0.355           0.327500
                   3            0.640           0.503333
                   4            0.875           0.557500
              2    1            0.105           0.473333
                   2            0.355           0.222500
                   3            0.640           0.597500
                   4            0.875           0.575000
              3    1            0.105           0.427500
                   2            0.355           0.572500
                   3            0.640           0.555000
                   4            0.875           0.360000

[864 rows x 2 columns]

In [ ]:
new_df[['Task', 'quartile', 'Line_pct', 'Line_pct_minusOne']].groupby(['Task', 'quartile']).mean()